# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ionic / Angular build output
www/
.angular/
dist/

# Capacitor native platforms
android/
ios/

# Environment
.env
.env.*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
