<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Atendente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Painel do Atendente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Última senha emitida: {{ senhasService.inputNovaSenha || '---' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total na fila: {{ senhasService.senhasTotal }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
